
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}
ul, ol {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    cursor: pointer;
}

/* ========= /COMMON STYLES========= *


/* =============HEADER=========== */
.page-header {

}
.page-navigation {

}
.logo-link {
color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.logo-studio {
    font-family: Raleway;
    color: #2E2F42;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.main-address {
    font-style: normal;
}
.list-address {

}
.list-header {
    color: #2E2F42;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.02em;
}

.item-header {
    
}
.item-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.item-link:focus,
.item-link:hover,
.item-link:active {
    color: #404bbf;
}
.item-address {

}
.item-address:focus,
.item-address:hover {
color: #404BBF;
}
.link-header-contacts {

}
/* ============= /HEADER=========== */

/* =========SECTION EFFECTIVE========= */

.section-effective {
background-color: #2E2F42;
}
.main-title {
color: #FFF;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.button-order-service {
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 4px;
        background: #4D5AE5;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.button-order-service:focus,
.button-order-service:hover {
    background-color: #404BBF;
}
/* ========= /SECTION EFFECTIVE========= */

/* ==========SECTION INFORMATION========== */

.section-information {

}
.hidded-title {

}
.list-information {

}
.item-information {

}
.title-information {
color: #2e2f42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.paragphrap-information {
color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
/* ========== /SECTION INFORMATION======== */


/* ============OUR TEAM============== */

.our-team {
background-color: #FFFFFF
}
.title-our-team {
color: #2E2F42;
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-our-team {
    display: inline-flex;
        padding-bottom: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 32px;
border-radius: 0px 0px 4px 4px;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}
.item-our-team {

}
.name-our-team {
color: #2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
}
.description-our-team {
color: #434455;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
}
/* =========== /OUR TEAM============= */

/* =============PORTFOLIO============== */

.portfolio {
background: #FFFFFF;
}
.title-portfolio {
color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.list-portfolio {
    
}
.item-portfolio {
width: 360px;
height: 420px;
}
.name-photo-portfolio {
color: #2e2f42;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.p-photo-portfolio {
    color:#434455;       
     font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* ============ /PORTFOLIO============= */

/* ============FOOTER============= */

.page-footer {
background: #2E2F42;
width: 1440px;
    height: 312px;
}
.page-footer .logo-studio {
    color: #f4f4fd;
        font-family: "Raleway", sans-serif,;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
}
.footer-p {
    color: #F4F4FD;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
}
/* ============ /FOOTER============= */

